.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100%;
  background-color: black;    
}

.inputForNote{
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;
  padding: 0 10px;
  outline: none;
}

.enterNote{
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: none;
  border: 1px solid white;
  color: white;
}

.enterNote:hover{
  background: white;
  color: black;
  cursor: pointer;
}

.ToDoNote{
  position:absolute;
  cursor: move;
  min-height: 95px;
  max-height: 95px;
  min-width: 180px;
  max-width: 180px;
  color: black;
  padding: 1em;
  border-radius: 7px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.editArea{
  position:absolute;
  top: 20px;
  resize: none;
  border: none;
  outline: none;
  font-size: 14px;
  min-height: 95px;
  max-height: 95px;
  min-width: 170px;
  max-width: 170px;
}

.deleteNote{
  position: absolute;
  right: 0px;
  top: 1px;
  background: none;
  border: none;
}

.deleteNote:hover{
  cursor: pointer;
}

.editNote{
  position: absolute;
  right: 20px;
  top: -1px;
  background: none;
  border: none;
}

.editNote:hover{
  cursor: pointer;
}

.closeEditing{
  position: absolute;
  right: -3px;
  top: 0px;
  background: none;
  border: none;
}

.closeEditing:hover{
  cursor: pointer;
}

.saveEditing{
  position: absolute;
  right: 16px;
  top: 0px;
  background: none;
  border: none;
}

.saveEditing:hover{
  cursor: pointer;
}

.divForSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.inputForSearch{
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;
  padding: 0 10px;
  outline: none;
}

.divForEditMode {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: black; 
}

.lightText{
  background:yellow;
}